<section id="about" class="content-section">
    <div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-responsive img-centered" src="img/dreams-preview.png" alt="">
                </div>
                <div class="col-lg-6">
                    <h2>Hi!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum pulvinar leo, non efficitur nulla. Nunc vel gravida eros, at facilisis purus. Praesent scelerisque magna velit, sed porta ligula dictum interdum. Vestibulum vitae ultrices dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi in mauris risus. Suspendisse potenti. Ut eget ultrices risus. Sed eget nisi at enim luctus congue. Vestibulum feugiat libero id cursus viverra. Nullam viverra turpis in lectus ultricies, et porta enim eleifend. Nulla molestie, massa ut pretium aliquet, felis ante venenatis mi, sed semper nulla dui vel nulla. Aliquam eget mollis enim, in volutpat enim. Aenean ac ligula sollicitudin, aliquet neque eget, dignissim lorem.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2>iconos de habilidades</h2>
                </div>
            </div>
        </div>
    </div>
</section>