<section id="contact" class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Contáctame</h4>
                <p class="padbottom"><a class="black-link" href="mailto:viviana.bernalb@gmail.com">viviana.bernalb@gmail.com</a>
                </p>

                <a class="green-link" style="margin-right: 5px;" target="_blank" href="https://www.behance.net/vivianaber1206">
                    <span>Behance</span>
                </a>

                <a class="green-link" style="margin-right: 5px;" target="_blank" href="https://co.linkedin.com/in/viviana-bernal-2a963b52">
                    <span>Linkedin</span>
                </a>

                <a class="green-link" target="_blank" href="http://vivianabernalfoto.tumblr.com/">
                    <span>Tumblr</span>
                </a>

            </div>
        </div>
    </section>